*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    color:white;
    justify-content: space-between;    
}

.column-a{
    
    background-color: rgb(50, 50, 151);
    padding: 1em;
}


.column-b{
    
    background-color: rgb(252, 143, 143);
    padding: 1em;
}