*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    color:white;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;  
}

.column-a{
    
    background-color: rgb(50, 50, 151);
    padding: 3em;
}


.column-b{
    
    background-color: rgb(252, 143, 143);
    padding: 1em;
    font-size: .5rem;
}