:root{
    font-size: 0.875em;
}

h1{
    color: #2f4f4f;
    margin-bottom: 10px;
}

.nav{
    margin-top: 10px;
    list-style:none;
    padding-left: 0;
}
.nav li {
    display: inline-block;
}

.nav a {
color: white;
background-color: #13a4a4;
padding: 5px;
border-radius: 5px;
text-decoration: none;

}



.nav .featured{
    background-color:orange;
}
.title{
    font-family: monospace;
}

.padded{
    font-size: 20px;
    background-color: aqua;
    border: 1px solid black;
    padding: 1em;
}

.box{
    display: inline-block;
    border-radius: .5em;
    padding: .8em;
    border: .3em solid red;
}

.box-small{
    font-size: 8px;
}

.box-medium{
    font-size: 16px;
}

.box-large{
    font-size: 32px;
}



.slogan{
    font-size:1.5em;
}

.box2{
    display: inline-block;
    font-size: 1.2em;
    padding: 1.2em;
    border: .6em solid cyan;
}

.panel{
    padding: .5em;
    border: .1em solid black;
    margin: .2em;
    border-radius: .5em;
    font-size: 1rem;
}
.panel > h2{
    margin: .2em 0;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
}

.panel-large{
    font-size: 1.5rem;
}

.square{
    width: 50vmin;
    height: 50vmin;
    background-color: blue;
}