<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style2.css">
    <title>Lsy grafica 2da version</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="page-heading">LSY GRAFICA</h1>
        </header>
        <nav class="menu">
            <ul class="site-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Support</a></li>
                <li class="nav-right"><a href="">About</a></li>
            </ul>
        </nav>

        <main class="main tile">
            <h1>Team collaboration done right</h1>
            <p>Thousands of teams from all over the
                world turn to <b>Ink</b> to communicate
                and get things done.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam sint dolores nostrum sequi, laudantium, reiciendis libero dignissimos sed voluptas unde aliquid, sapiente eum vitae possimus. Alias ipsum accusamus sunt.</p>
        </main>

        <div class="sidebar-top tile">
            <form action="" class="login-form">
                <h3>Login</h3>
                <p>
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </p>
                <button type="submit">Login</button>
            </form>
        </div>

        <div class="sidebar-bottom tile centered">
            <small>Starting At</small>
            <div class="cost">
                <span class="cost-currency">$</span>
                <span class="cost-dollars">20</span>
                <span class="cost-cents">.00</span>
            </div>
            <a href="" class="cta-button">Sign Up</a>
        </div>
    </div>
</body>
</html>