<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="portfolio.css">
    <title>Document</title>
</head>
<body>
    <div class="portfolio">
        <figure class="featured">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Toros</figcaption>
        </figure>
        <figure class="">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Tigres</figcaption>
        </figure>
        <figure class="">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Burros</figcaption>
        </figure>
        <figure class="">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Flamengo</figcaption>
        </figure>
        <figure class="featured">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Leopardos</figcaption>
        </figure>
        <figure class="">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Ciervo</figcaption>
        </figure>
        <figure class="">
            <img src="https://loremflickr.com/300/300" alt="">
            <figcaption>Osos Polares</figcaption>
        </figure>
    </div>
    
</body>
</html>