.grid{
    display: grid;
    grid-template-columns: [start] 300px [second] 1fr [third] 1fr [end];
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em 1em;
}

.grid > * {
    background-color: lightblue;
    color: black;
    padding: 2em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.5rem;
}