<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Floats</title>
</head>
<body>
   <div class="container">
       <header>
           <h1>El Jhony coffe Shop</h1>
        </header>
        
        <main class="main clearfix">
            <h2>Coffe Tips</h2>

               <div>
                   <div class="media">
                       <img src="https://loremflickr.com/100/100" alt="" class="media-img">
                       <div class="media-body">
                           <h4>Flavor</h4>
                           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, necessitatibus. Dolor ratione et cumque corrupti. Odit facilis amet, deleniti tenetur, reiciendis ratione, dolores obcaecati laboriosam quaerat rerum voluptatum illum error.</p>
                        </div>
                   </div>
               

                    <div class="media">
                        <img src="https://loremflickr.com/100/100" alt="" class="media-img">
                        <div class="media-body">
                            <h4>Flavor</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, necessitatibus. Dolor ratione et cumque corrupti. Odit facilis amet, deleniti tenetur, reiciendis ratione, dolores obcaecati laboriosam quaerat rerum voluptatum illum error.</p>
                         </div>
                    </div>
                

                
                   <div class="media">
                                <img src="https://loremflickr.com/100/100" alt="" class="media-img">
                            <div class="media-body">
                                <h4>Flavor</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, necessitatibus. Dolor ratione et cumque corrupti. Odit facilis amet, deleniti tenetur, reiciendis ratione, dolores obcaecati laboriosam quaerat rerum voluptatum illum error.</p>
                             </div>
                    </div>
                    
             
                    <div class="media">
                            <img src="https://loremflickr.com/100/100" alt="" class="media-img">
                        <div class="media-body">
                            <h4>Flavor</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, necessitatibus. Dolor ratione et cumque corrupti. Odit facilis amet, deleniti tenetur, reiciendis ratione, dolores obcaecati laboriosam quaerat rerum voluptatum illum error.</p>
                        </div>
                    </div>
                
                </div>
               
            </main>
      </div>
</body>
</html>